<html>
<head>
<title>Pitch Detector</title>
<link href='https://fonts.googleapis.com/css?family=Alike' rel='stylesheet' type='text/css'>

</head>
<body>
<script src="{{url_for('static', filename='pitchdetect.js')}}" ></script>
<link rel='stylesheet' href="{{url_for('static', filename='style.css')}}"/>
<canvas id="waveform"
width=1280 height=1024
></canvas>



<!-- -->
<!-- <a href="https://github.com/cwilso/pitchdetect" style="position: absolute; z-index:2; top: 0; right: 0; border: 0;"><img src="img/forkme.png" alt="Fork me on GitHub"></a> -->
</body>
</html>
